body {
  font-family: Arial;
  text-align: center;
  background-color: #111;
  color: white;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  background-color: #ff006e;
  color: white;
  border: none;
}